.red{
    color: #FF6464;
}

.grey{
    color: #393B49;
}

.tinted-grey{
    color: #2D2833;
}

.less-emphasis{
    opacity: 0.5;
}

.bold{
    font-weight: bold;

}

.dr-shadow-all{
    filter: drop-shadow(0px 0px 4px black);
}